.myBG {
    height: 100vh;
    background: url('../assets/images/bg/main.jpg');
    background-size: cover;
}

.intro {
    height: 370px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 3px;
}

.trending {
    height: auto;
    background: url('../assets/images/bg/trend.jpg');
    background-size: cover;
}

.superhero {
    height: auto;
    background: url('../assets/images/bg/war.jpg');
    background-size: cover;
}

.movieWrapper {

}

.movieImage {
    width: 200px;
    height: auto;
    background-color: black;
    margin: 5px;
    padding: 5px;
}

.images {
    height: 300px;
}